<h2>
  Change Color
</h2>

<!-- <%= form_for @color do |f| %>


  <div class="field">
    HEX: <%= f.text_field :color %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %> -->

<!-- <%= simple_form_for @color do |f| %>
  <%= f.input :color, as: :minicolors %>
<% end %> -->

<!-- Current color: <%= @colors[0]%>  <div class="box" style ="background: <%=@colors[0]%>; float:left; margin-top: -2px"></div><br><br> -->

<%# With Bootstrap theme and swatch on the right: %>
<%= simple_form_for @color do |f| %>
<%= f.input :color, as: :minicolors, input_html: {data: {
          minicolors: {theme: :bootstrap, position: :right}}}%>
<%=   f.submit %>
<% end %>
