
<h2><%= link_to "Turn On All", turnonall_lights_path %> | <%= link_to "Turn Off All", turnoffall_lights_path %></h2>



<% @lights.each_with_index do |light, index| %>
  <%= light.ip_address %> -
    <% if light.status != true %>
      <%= link_to "Turn On", turnon_light_path(light.id) %> <div class="box" style ="background: #<%=@colors[index]%>; float:left; margin-top: -2px; margin-bottom: 10px"></div></br></br>
    <% else %>
      <%= link_to "Turn Off", turnoff_light_path(light.id) %> <div class="box" style ="background: #<%=@colors[index]%>; float:left; margin-top: -2px; margin-bottom: 10px"></div></br></br>
    <%end%>
<%end%>

<%= render partial: 'lights/form', locals: { light: @light } %>
<%= render partial: 'color/form', locals: { color: @color } %>
