<h2> Add a light </h2>


<%= form_for @light do |f| %>

<% if @light.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@light.errors.count, "error") %> prohibited this IP from being saved:</h2>

    <ul>
    <% @light.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


  <div class="field">
    IP: <%= f.text_field :ip_address %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
